*{font-family: "Open Sans", SansSerif; }

body{
    background-image: url("images/iphoneOL.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#screen {
    height: 530px;
    width: 300px;
    margin: 105px 23px;
}

#logo {
    text-align: center;
    color: orange;
    font-family: Lucida Grande;
    font-size: 45px;
}

#header{
    width: 100%;
    position: relative;
    min-height: 60px;
    border-bottom: lightgray 1px solid;
}

#bird{
    height: 65px;
    margin-top: 70px;
}

#search{
    width: 60%
}

#search_bar{
    width: 60%;

}

.search_button{
    width: 50px;
    height: 50px;
}