*{font-family: "Open Sans", SansSerif; }

a{
    text-decoration: inherit;
    color: inherit;
}

@media only screen and (min-width: 600px) {
    #screen {
        height: 530px;
        width: 300px;
        margin: 105px 23px;
        text-align: center;
        border: lightgray solid 2px;
    }
}
body{
    /*background-image: url("images/iphoneOL.jpg");*/
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#screen {
    /*height: 100%;*/
    /*width: 100%;*/
}

#logo {
    color: orange;
    font-family: Lucida Grande;
    font-size: 45px;
}

.login {
    margin-top: 25px;
}

.login_input {
    margin: 5px;
    align: middle;
}

#login_bird{
    height: 65px;
    margin-top: 70px;
}

#information {

}

.user_info {

}




#menu {
    border-top: 1px solid gray;
    position: absolute;
    bottom: 54px;
    width: 300px;
    height: 55px;
}

.menu_tab {
    float: left;
    width: 99px;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
}




.material_icons{
    font-family: 'Material Icons';
}

#header{
    width: 100%;
    position: relative;
    min-height: 40px;
    border-bottom: lightgray 1px solid;
}

#bird{
    height: 40px;
    margin: 11px;
    display: inline-block;
}

#search{
    width: 70%;
    display: inline-block;
    /*background-color: blue;*/
    /*position: relative;*/
    height: 40px;
    margin: 10px 0;
    border: lightgrey solid 1px;
    box-shadow: 1.5px 1.5px 1px lightgrey;
}

#search_field{
    width: 70%;
    border: none;
    height: 36px;
    /*position: relative;*/
    margin: 2px;
    display: inline-block;
    float: left;
    outline: none;
}

#search_icon{
    font-size: 20px;
    margin: 10px 5px 10px 10px;
    color: gray;
    display: inline-block;
    float: left;
}

.search_button{
    width: 50px;
    height: 50px;
}

#bird_wrapper{
    display: inline-block;
    margin: 0;
}

#search_wrapper {
    display: inline;
    position: relative;
}

#results{
    margin: 2%;
    width: 96%
}

#results li{
    list-style: none;
    margin: 8px 0;
    padding: 0 0 6px 0;
    box-shadow: 1px 1px 2px lightgrey;
}

#results ul{
    padding: 0;
}

.search_entry{
    min-height: 80px;
    max-height: 100px;
    border: solid 1px lightgrey;
    border-radius: 10px;
}

.search_img_wrapper{
    padding: 8px 8px 0 8px;
    height: 60px;
    width: 60px;
    float: left;
}

.search_img{
    height: 80%;
    margin: 5% auto;
    display: block;
}

.search_entry h1{
    font-size: 10pt;
    margin: 5px 0 0 0;
}

.search_entry h2{
    font-size: 8pt;
    color: gray;
    margin: 0;
}

.search_entry_lower{
    width: 100%;
    /*height: 20px;*/
    display:inline-block;
}

.search_entry_price{
    padding: 0 0 0 20px;
    color: gold;
    font-size: 8pt;
    vertical-align: bottom;
    display:inline-block;
}

.search_entry_price_icon{

}

.search_entry_add{
    border-radius: 4px;
    height: 30px;
    min-width: 80px;
    margin: 0 10px 0 0;
    float: right;

    border: solid 2px deepskyblue;
    background-color: deepskyblue;

    font-weight: bold;
    color:white;
    /*padding: ;*/
}

.search_entry_add:hover{
    background-color: white;
    color: deepskyblue;
}



/*ENTER*/


#SE_close{
    height: 60px;
    width: 100%

}

#SE_close_icon{
    float: right;
    font-size: 40px;
    margin: 10px;
    color: gray;
}

#SE_search_container{
    border-bottom: gray 2px solid;
    height: 43px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#SE_search_icon{
    position: relative;
    top: 4px;
    font-size: 30px;
    color: gray;
}

#SE_search_field{
    height: 40px;
    width: 85%;
    padding: 10px 5px;
    outline: none;
    border: none;
    font-size: 30px;
    /*font-weight: bold;*/
    background-color: transparent;
}

#SE_search_history_title{
    font-size: 10pt;
    margin-left: 8%;
    text-align: left;
    color: gold;
}

#SE_search_history{
    margin-top: 25px;
}

#SE_search_history ul{
    padding: 0;
    width: 85%;
    margin-left: 15%;
}

#SE_search_history li{
    list-style: none;
    font-weight: bold;
    padding: 4px;
    text-decoration: underline;
    font-style: italic;
    text-align: left;
    font-size: 18pt;
}